.section--hero
{
  height: 100vh;
  width: 100%;
  background-color: #c7d0d9;
  position: relative;
  overflow: hidden;
}

body
{
  background-color: #c7d0d9;
}

.pic
{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.interact
{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  right: 0;
  transform: translateX(75%);
  align-items: center;
  animation: hide 1000ms;
  bottom: 50%;
  gap: 28px;
  overflow: hidden;
}

.interact button
{
  padding: 30px 120px;
  border-radius: 60px;
  background-color: #0b0c0e;
  overflow: hidden;
  color: #ffffff;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

@keyframes peek
{
  from
  {
    transform: translateX(75%);
  }
  to
  {
    transform: translateX(20%);
  }
}

@keyframes hide
{
  from
  {
    transform: translateX(20%);
  }
  to
  {
    transform: translateX(75%);
  }
}

.interact:hover
{
  transform: translateX(20%);
  animation: peek 1000ms;
}

.interact .icon
{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 33px;
  padding-left: 33px;
}

.desc
{
  position: absolute;
  bottom: 98px;
  right: 50%;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 50px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  transform: translateX(50%);
  color: #f4f7fa;
  animation: move-rtl 10s linear infinite;
  overflow: hidden;
}

.menu-toogle-
{
  height: 100%;
  display: flex;
  width: 50%;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: #0b0c0e;
  z-index: 1;
  transform: translateX(100%);
  transition: 2s all;
}

.menu-toogle-show
{
  transform: translateX(0);
  height: 100%;
  display: flex;
  width: 50%;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: #0b0c0e;
  z-index: 1;
  transition: 2s all;
}

.menu--list
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 28px;
  padding: 0px 80px;
}

.menu-toogle- nav
{
  position: absolute;
  bottom: 0;
}

.menu-toogle- nav ul li
{
  color: #f4f7fa;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.menu-toogle-show nav
{
  position: absolute;
  bottom: 0;
}

.menu-toogle-show nav ul li
{
  color: #f4f7fa;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.menu--list a
{
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  font-family: 'PP Neue Montreal', sans-serif;
  text-align: left;
  color: #ffffff;
}

@keyframes move-rtl
{
  0%
  {
    transform: translate(0, 0);
  }
  100%
  {
    transform: translate(100%, 0);
  }
}

.menu-toogle-show button
{
  display: flex;
  position: absolute;
  top: 10%;
  left: 70%;
  border-radius: 150px;
  padding: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
}

.menu-toogle- button
{
  display: flex;
  position: absolute;
  top: 10%;
  left: 70%;
  border-radius: 150px;
  padding: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
}

.menu-toogle- button i
{
  font-size: 32px;
}

.menu-toogle-show button i
{
  font-size: 32px;
}

.menu-toogle-show button:after
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  border-radius: 180px;
  transition: all 0.5s;
}

.menu-toogle-show button span
{
  position: relative;
  z-index: 2;
}

.menu-toogle-show button:hover
{
  color: #0b0c0e;
}

.menu-toogle-show button:hover:after
{
  width: 100%;
}