.footer--grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.footer--container
{
  background-color: #0b0c0e;
  padding: 100px 60px 20px 60px;
  align-items: center;
}

.footer--item
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 138px;
}

.footer--item p
{
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #c7d0d9;
}

.footer--item--2
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 138px;
  align-items: flex-end;
}

.footer--item--2 nav
{
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}

.footer--button button
{
  padding: 24px 48px;
  border-radius: 170px;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  color: #0b0c0e;
}

.footer--title
{
  display: flex;
  flex-direction: column;
}

.footer--title h2
{
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  text-align: left;
}

.details2
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer--item--2 nav ul li
{
  color: white;
}

nav ul
{
  display: flex;
  align-items: flex-end;
}

.footer--button button
{
  padding: 24px, 48px, 24px, 48px;
  display: flex;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.footer--button button:after
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  border-radius: 180px;
  transition: all 0.5s;
}

.footer--button button span
{
  position: relative;
  z-index: 2;
}

.footer--button button:hover
{
  color: #0b0c0e;
}

.footer--button button:hover:after
{
  width: 100%;
}